/* waybar theme */

/*GENERAL WAYBAR*/

* {
    all: initial;
	border: none;
	border-radius: 0;
	font-family: FiraCode;
	font-size: 13px;
	min-height: 0;
	margin: 0;
	padding: 0;
	color: #282828;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip {
	border: 1px solid #282828;
	border-radius: 10px;
	/* background: #83a598; */
	text-shadow: none;
	background-color: alpha(#83a598, 0.999999999999);

}
tooltip label {
	color: #282828;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

/*UNDERLAYING LAYOUT*/

.niri-taskbar, #workspaces button, #pulseaudio-slider trough, #network, #tray, #pulseaudio, #backlight, #battery, #temperature, #cpu, #memory, #clock, #mpd, #window, #custom-wetter, #taskbar, #image {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	background: #8ec07c;
}

/*GENERAL MODULES*/

#image {
	background: #ebdbb2;
	padding-left: 8px;
	padding-right: 8px;
}

#window  {
	background: #83a598;
}

#pulseaudio {
	min-width:  45px;
}

#cpu {
	min-width:  45px;
}
window#waybar.empty #window {
    background-color: transparent;
}

#clock {
	margin-right: 6px;
	color: #ebdbb2;
	background: #282a36;
}

/*WORKSPACES*/

#workspaces button {
	background: #83a598;
	padding-left: 8px;
	padding-right: 8px;
}
#workspaces button.active {
	background: #d3869b;
}

/*TASKBAR*/

.niri-taskbar {
	padding-left: 0px;
	background: none;
}

.niri-taskbar button:hover {
	background: none;
}

.niri-taskbar button {
	margin-right: 4px;
    padding-right: 3px;
    padding-left: 3px;
}

.niri-taskbar button.focused {
  background: #b16286;
  border-radius: 26px;
}
.niri-taskbar button.urgent {
    background: #cc2412;
    border-radius: 26px;
}

/* SLIDER */
#pulseaudio-slider {
    padding: 0;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
	padding-right: 0px;
	padding-left: 0px;
	min-height: 10px;
    min-width: 100px;
    background: #282828;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 26px;
    background: #8ec07c;
}
